*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(248, 241, 241);
}
h1,h2,h3,h4,h5,h6{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(63, 57, 57);
    text-align: center;
    padding: 40px ;
}
p{
    font-size: 1.2rem;
    line-height: 2;
    color: #555;
    margin-bottom: 15px;
}
.container{
    width: 978px;
    margin: 0 auto;
}
.btn{
    padding: 7px;
    border-radius: 5px;
    background: rgb(44, 84, 192);
    color: #fff;
   margin-left: 70%;
}
footer{
   width: 100vw;
   background-color: #0000;
   color: #fff;
   
}